__pycache__/
.claude/
.coverage
.coverage.*
.eggs/
.fuse_*
.idea/
.pytest_cache/
*.egg-info/
*.pyc
**.code-workspace
*build/
*venv/
CLAUDE.md
coverage.xml
dist/
htmlcov/
prof/
pyvenv*/
uv.lock
version.py
